/* Image Styling */
img {
  width: 100%; /* Make images responsive */
  height: auto; /* Maintain aspect ratio */
}

/* General Styling */
body {
  margin: auto;
  max-width: 1200px;
  min-height: 1vh;
}

nav {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  padding-top: 47px;
}

nav a {
  display: none;
  text-decoration: none;
  color: aliceblue;
  text-align: center;
  padding: 10px;
  font-size: 18px;
}

nav a:hover {
  background-color: aliceblue;
  color: rgb(26, 49, 68);
  font-weight: bolder;
}

/* Hamburger Button Styling */
#home {
  font-size: 1.8rem;
  border: 0;
  background: none;
  color: aliceblue;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#home::before {
  content: "☰";
}

#home.open::before {
  content: "X";
}

.open a {
  display: block;
}

/* Header Styling */
header {
  padding: 30px;
  background-color: rgb(26, 49, 68);
  grid-column: 1/3;
  color: aliceblue;
}

h1 {
  text-align: left;
  font-size: 2.5rem;
  top: 1rem;
  position: absolute;
}

h2 {
  padding: 20px;
  text-align: center;
}

/* Footer Styling */
footer {
  position: relative;
  grid-column: 1/3;
  padding: .5em .5em 2em;
  text-align: center;
  background-color: rgb(26, 49, 68);
  color: aliceblue;
}

/* Main Content Styling */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.temples {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  max-width: 1000px;
}

figure {
  margin: 0 auto;
  text-align: center;
  padding: 0px;
}
