/* .....Form Styling........ */
form {
    background-color: antiquewhite;
    font-size: 16px;
    
}
form label{
    display: block;
    padding: 10px;
    font-weight: bold;
}
form input[type ="text"],
form input[type ="date"],
form textarea,
form select {
    display: block;
    background-color: #e9e3e3;
    display: block;
    border: solid 1px #999;
    border-radius: 6px ;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;   
}
.features label{
    padding: 5px;
}
.features{
    padding: 10px;
}

form input[type ="textarea"]{
    height: 60px;
}
form span{
    font-style: italic;
    font-size: 14px;
    color: blueed {
    border-bottom: solid 5px rgb(22, 210, 188);
 }

 input:required:valid,
 form select:required:valid {
    border-bottom: solid 5px rgb(89, 14, 194);
 }


 /* ........submit button.......... */
 input[type="submit"]{
    border: none;
    background-color: #532c9c;
    color: white;
    border-radius: .9rem;
    padding: .6rem 2rem;
    width: 100%;
    max-width: 400PX;
    margin: 2rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
    font-size: 18px;
    font-weight: bold;

 }

/* .......Overall Rating Star Radio Styling........ */
input[type="radio"] {
	display: none;
	position: relative;
	caret-color: rgba(0, 0, 0, 0);
}

.stars {
	display: flex;
	flex-direction: row-reverse;
	justify-content: left;
}

.stars > label {
	color: gold;
	width: 30px;
	height: 30px;
	font-size: 2rem;
	margin-left: 5px;
	display: flex;
	align-items: center;
	caret-color: rgba(0, 0, 0, 0); /* remove blinking cursor*/
}

.stars > label:hover {
	color: #000;
}

.stars > label::before {
	content: "\2606";
}

.stars input:checked ~ label::before {
	content: "\2605";
}
