@media only screen and (min-width:520px){
    img{
        width: 3500px;
        max-height:300px;
        margin-left: 15px;
    }

    h1{
     padding: 1em;
    }
    h2 {
        position: relative;
        right: .5em;
        text-align: left;
        color: white;
        background-color: rgb(0, 68, 0, 80%);
        padding: 15px;
        margin: 50px ;
    }
    .card {
        position: absolute;
        background-color: rgb(238, 238, 238, 80%);
        padding: 0;
    }
    .card img {
        display: none;
    }
    main {
        position: relative;
        width: 100%;
        background-color: aliceblue;
    }
    .temp {
        position: absolute;
        width: 180px;
        margin: 0;
        right: 1.5em;
        bottom: 10px;
        float: right;
    }
     .data {
        width: 180px;
        left: 1.5em;
        top: 3em;
        margin: 0%;
        padding: 0%;
    }
    .temp h2::after {
        content: " __";
        color: rgb(0, 68, 0, 0%);
        background-image: url(../images/weather_clouds_sun_sunny_icon.svg);
        width: 40px;
    }
}

